header {
    width: 100%;
    height: 100px;
    margin: auto;
    border-bottom: 1px solid rgb(0 0 0 / 20%);
    .container-fluid {
        padding: 0px 45px;

        .logoImg {
            width: 100%;
            height: 100%;
        }

        .headerSearch {
            width: 100%;
            height: 50px;
            box-shadow: 0px 3px 6px rgb(0 0 0 / 20%);
            padding: 10px 15px;
            position: relative;
            border: 1px solid #ffdf31;
            .line {
                position: absolute;
                left: 29%;
                margin-left: 30px;
                height: 20px;
                border: 1px solid rgba(0,0,0,0.2);
            }
            .selectDropMain {
                width: 30%;
                font-size: 14px;
                font-weight: 500;
                position: relative;
            }
    
    
            .search {
                width: 70%;
                padding-left: 30px;
                display: flex;
                align-items: center;
                
                input {
                    width: 100%;
                    height: 100%;
                    border: 0px;
                    outline: none;
                }
    
                .searchIcon {
                    font-size: 30px  !important;
                    opacity: 0.7;
                }
            }
        }

        .contryClass {
            width: 200px;
            height: 50px;
            box-shadow: 0px 3px 6px rgb(0 0 0 / 20%);
            padding: 10px 15px;
            position: relative;
            border: 1px solid #ffdf31;;
        }

        .headerTabs {
            padding-left: 40px;
            li {
                position: relative;
                margin-right: 12px;
                span{
                    font-size: 18px;
                    display: flex;
                    cursor: pointer;
                    color: #7E7E7E;
                    position: relative;

                    img {
                        margin-right: 8px;
                    }
                    .badge {
                        color: #fff;
                        position: absolute;
                        display: flex;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        align-items: center;
                        justify-content: center;
                        top: -9px;
                        left: 14px;
                        font-size: 15px;
                    }

                    .account-dropdown {
                        position: absolute;
                        top: 30px;
                        width: 200px;
                        background: #fff;
                        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        font-size: 14px;
                        padding: 0 !important;
                        left: -70px;


                        li {
                            width: 100%;
                            list-style: none;
                            margin: 0 !important;
                            button {
                                width: 100%;
                                color: #000;
                                text-align: left;
                                justify-content: flex-start;
                                text-transform: capitalize;
                                padding: 10px 15px ;

                                svg {
                                    opacity: 0.7;
                                    margin-right: 10px;
                                }

                                :hover {
                                    background: #f1f1f1 !important;
                                }
                            }
                        }
                    }
                }
            }
        }
      }
    
    
    
}
.cursor {
    cursor: pointer;
    text-decoration: none;
}


// .borderColr {
//     border: 1px solid red;
// }



